@font-face {
    font-family: 'Museo Sans Rounded';
    src: local('Museo Sans Rounded 100'), local('Museo-Sans-Rounded-100'),
        url('../fonts/MuseoSansRounded-100.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Museo Sans Rounded';
    color: #e1e1e1;
}

.product-bg{
    width: 800px;
    height: 600px;
    background-image: url(../images/main-bg.png);
    margin: 0 auto;
}

.product-bg__card{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: row;
    width: 686px;
    height: 391px;
    background: #111a28;
    border-radius: 10px;
    position: relative;
    background-color: rgba(17, 26, 40, 0.99);
    box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.82);
      
}

.card__imgs{
    width: 385px;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}

.slider{
}


.slider__img{
    margin-bottom: 70px;
    margin-left: 15px;
}

.slider__dots-wrapper{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    padding-left: 50px;
}

.slider__dots{
    display: flex;
    width: 72px;
}

.slider__dot{
    margin-right: 4px;
}

.dot--grey circle{
    fill: #202835;
}
.dot--red circle{
    fill: #ed3333;
}
.dot--blue circle{
    fill: #29e3ea;
}

.slider__dot:hover{
    stroke: #7e838b;
    stroke-width: 1px;
    transform: scale(1.6);
}

.stars{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
}


.card__description{
    width: 250px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-left: 40px;
}


.product__title{
    font-size: 24px;
    line-height: 1.05;
    letter-spacing: 0.65px;
}

.product__subtitle{
    font-size: 14px;
    margin-top: 10px;
    letter-spacing: 0.3px;
}

.stars{
    margin-top: 5px;
}

.stars__one{
    margin-right: 1px;
}

.star-img{
    width: 12px;
}

.stars__one--gray{
    filter: grayscale(1);
}

.product__options{
    display: flex;
    flex-direction: row;
    margin-top: 23px;
}

.button{
    border: 1px solid #4f5560;
    width: 70px;
    height: 32px;
    text-align: center;
    line-height: 1.8em;
    box-sizing: border-box;
    margin-right: 2px;
}

.button--big{
    width: 184px;
    height: 40px;
    margin-top: 30px;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 2.5em;
}

.dropdown-ico{
    display: inline-block;
    width: 20px;
    height: 20px;
}

.button:hover{
    background: #202835;
}
.card__logo{
    position: absolute;
    left: 25px;
    top: 25px;
}
